$shadow-xs: 0 1px 2px 0 #1018280d;
$shadow-sm: 0 1px 3px 0 #1018281a;
$shadow-md: 0 4px 8px -2px #1018281a;
$shadow-lg: 0 12px 16px -4px #10182814;
$shadow-xl: 0 24px 48px -12px #1018282e;
$shadow-2xl: 0 24px 48px -12px #1018282e;
$shadow-3xl: 0 32px 64px -12px #10182824;
