$text-bold: 700;
$text-semi-bold: 600;
$text-normal: 400;
$text-thin: 200;

$display-xs: 1.5rem;
$display-sm: 1.85rem;
$display-md: 2rem;
$display-lg: 2.5rem;
$display-xl: 3rem;

$text-xs: 0.65rem;
$text-sm: 0.75rem;
$text-md: 0.85rem;
$text-lg: 1rem;
$text-xl: 1.25rem;
